@import "tailwindcss";

@layer base {
  html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
  }

  #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
}

@layer utilities {
  .webkit-app-region-drag {
    -webkit-app-region: drag;
  }
  
  .webkit-app-region-no-drag {
    -webkit-app-region: no-drag;
  }
  
  .bg-primary-gradient {
    /* edgar:color-change */
    background: linear-gradient(135deg,  #024b47 0%, #292929 100%); 


      /* #071a4b */
        /* #4b070b */
        /* #024b47 */


  }
}
